[Desktop Entry]
Version=1.0
Type=Application
Name=Helium
Comment=Fast and lightweight web browser
Exec=/home/nhut/.local/bin/helium-browser %U
Icon=/home/nhut/.local/share/icons/helium-app-icon.svg
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;

