layout {

    focus-ring {
        active-color   "#e46779"
        inactive-color "#291417"
        urgent-color   "#cd5969"
    }

    border {
        active-color   "#e46779"
        inactive-color "#291417"
        urgent-color   "#cd5969"
    }

    shadow {
        color "#29141770"
    }

    tab-indicator {
        active-color   "#e46779"
        inactive-color "#8d0c1e"
        urgent-color   "#cd5969"
    }

    insert-hint {
        color "#e4677980"
    }
}

recent-windows {
    highlight {
        active-color "#e46779"
        urgent-color "#cd5969"
    }
}
