layout {

    focus-ring {
        active-color   "#d270e6"
        inactive-color "#211b22"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#d270e6"
        inactive-color "#211b22"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#211b2270"
    }

    tab-indicator {
        active-color   "#d270e6"
        inactive-color "#800c97"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#d270e680"
    }
}

recent-windows {
    highlight {
        active-color "#d270e6"
        urgent-color "#fd4663"
    }
}
